@{
    ViewBag.Title = "AGB";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<audio controls autoplay hidden>
    <source src="/Audio/i-find-your-lack-of-faith-disturbing.mp3" type="audio/mp3">
    <source src="star wars cantina.mp3" type="audio/mp3">

</audio>

<h1>

    Allgemeine Geschäftsbedingungen <br />

    Ausgabe 2018
</h1>
<p>
    1. Geltungsbereich

    Diese allgemeinen Geschäftsbedingungen in der jeweils gültigen Fassung gelten für sämtliche Bestellvorgänge und Kaufverträge, die über den Webshop abgeschlossen werden. Lieferungen, Leistungen und Angebote erfolgen ausschließlich aufgrund dieser allgemeinen Geschäftsbedingungen. Unser Angebot richtet sich ausschließlich an Kunden, die Verbraucher im Sinn des österreichischen Konsumentenschutzgesetzes sind. Andere Interessenten (Unternehmer) sind herzlich eingeladen, uns unter folgender E-Mail Adresse zu kontaktieren: NeroMerch@gmx.at
</p>
<p>
    2. Vertragsabschluss

    Bestellungen des Kunden gelten als Angebot zum Vertragsschluss. Der Kunde ist an seine Bestellung für 72 Stunden ab Eingang der Bestellung gebunden. Bestellungen bedürfen der ausdrücklichen Annahme. Erst mit der ausdrücklichen Annahme nehmen wir dein Kaufangebot an und der Vertrag kommt zustande. Die Bestätigung des Einganges einer Bestellung per E-Mail ist noch keine Vertragsannahme. Sämtliche Angaben in unserem Webshop sind freibleibend und unverbindlich. Aus technischen Gründen kann es bei der gelieferten Ware gegenüber den Produktabbildungen im Internet zu leichten Abweichungen (bspw. Farbe) kommen.
</p>
<p>
    3. Preise

    Es gelten ausschließlich die Preise unserer Internetseite. Die Preisangaben beinhalten alle Steuern einschließlich der Umsatzsteuer. Die Umsatzsteuer wird entsprechend der Versandhandelsregelung des österreichischen Umsatzsteuerrechts in Rechnung gestellt. Bei Versendung außerhalb der Europäischen Union ist die Lieferung umsatzsteuerfrei. Allfällige Einfuhrabgaben sind vom Kunden zu tragen. Die Versandkosten sind abhängig vom Bestimmungsland. Bei Teillieferungen entstehen höhere Versandkosten, die im Einzelfall ausgewiesen werden.
</p>
<p>
    4. Zahlung

    Zahlungen erfolgen entweder durch Kreditkartenzahlung (Visa / Master Card), Sofortüberweisung und Paypal.
</p>
<p>
    5. Eigentumsvorbehalt

    Wir behalten uns das Eigentum an gelieferten Waren bis zur vollständigen Bezahlung vor.
</p>
<p>
    6. Widerrufsrecht

    Du hast das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag, an dem du oder ein von dir benannter Dritter, der nicht der Beförderer ist, die letzte Ware in Besitz genommen hast bzw. hat.

    Um dein Widerrufsrecht auszuüben, musst du uns (Stieglbrauerei zu Salzburg GmbH, z.Hd. StarWarshop, Kendlerstraße 1, A-5017 Salzburg, Fax: +43 50 1492-1277, E-Mail: mailto:NeroMerch@gmx.at) mittels einer eindeutigen Erklärung (z. B. ein mit der Post versandter Brief, Telefax oder E-Mail) über deinen Entschluss, diesen Vertrag zu widerrufen, informieren. Du kannst dafür das Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.

    Zur Wahrung der Widerrufsfrist reicht es aus, dass du die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absendest.
</p>
<p>
    6.1. Folgen des Widerrufs

    Du musst für einen etwaigen Wertverlust der Waren nur aufkommen, wenn dieser Wertverlust auf einen zur Prüfung der Beschaffenheit, Eigenschaften und Funktionsweise der Waren nicht notwendigen Umgang mit dir zurückzuführen ist. Unter „Prüfung der Eigenschaften und der Funktionsweise“ versteht man das Testen und Ausprobieren der jeweiligen Ware, wie es etwa im Ladengeschäft möglich und üblich ist.

    Wenn du deine Vertragserklärung widerrufst, haben wir dir alle Zahlungen, die wir von dir erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass du eine andere Art der Lieferung als die von uns angebotene, günstige Standardlieferung gewählt hast), unverzüglich und spätestens binnen 14 Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über deinen Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das du bei der ursprünglichen Transaktion eingesetzt hast, es sei denn, mit dir wurde ausdrücklich etwas anderes vereinbart; in keinem Fall wird dir wegen dieser Rückzahlung Entgelte berechnet.

    Wir können die Rückzahlung verweigern, bis wir die Waren wieder zurückerhalten haben oder bis du den Nachweis erbracht hast, dass du die Waren zurückgesandt hast, je nachdem, welches der frühere Zeitpunkt ist. Du hast die Waren unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem du uns über den Widerruf dieses Vertrages unterrichten, an uns zurückzusenden oder zu übergeben. Die Frist ist gewahrt, wenn du die Waren vor Ablauf der Frist von vierzehn Tagen absendest. Die Versandkosten werden vom Kunden getragen.
</p>
<p>
    7. Gewährleistung und Haftung

    Mangelhafte Ware ist an uns zu retournieren. Über die Gewährleistung hinaus haften wir nur für Vorsatz und grobe Fahrlässigkeit. Ausgeschlossen ist auch der Ersatz für Folgeschäden und insbesondere entgangenen Gewinn aus mangelhafter, unterbliebener oder verspäteter Lieferung. Dies gilt nur dann nicht, wenn ausdrücklich ein Termingeschäft vereinbart wurde.
    Die Haftung für Personenschäden sowie nach dem Produkthaftungsgesetz wird dadurch nicht beschränkt.
</p>
<p>
    8. Rechtswahl und Gerichtsstand

    Jede Bestellung unterliegt ausschließlich österreichischem Recht unter Ausschluss der Verweisungsnormen auf andere Rechtsordnungen und unter Ausschluss des UN-Kaufrechts. Gemäß Art 5 Abs. 2 EVÜ kommen jedoch zwingende Verbraucherschutzbestimmungen der Heimat eines Verbrauchers jedenfalls zur Anwendung.
</p>
<p>
    9. Kontakt
</p>
<p>
    Bei Fragen wende dich bitte an: <br />

    Kundenservice der Firma NeroMerch zu Wien GmbH <br />
    Tel: +43 50 1492-1992 <br />
    Email: NeroMerchUltimate.at <br />
    Kendlerstraße 12/2/33 <br />
    A-1120 Wien <br />


</p>
