@{
    ViewBag.Title = "Kontakt";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Computerstrasse 1/23<br />
    Wien 1120<br />
    <abbr title="Telefon">Nr:</abbr>
    0699 10411034
</address>
<img src="~/Pictures/Firma.jpg" alt="Firma" height="242" width="242">

<address>
    <strong>Support:</strong>   <a href="mailto:NeroMerch@gmx.at">Support.NeroMerch@gmx.at</a><br />
    <strong>Marketing:</strong> <a href="mailto:NeroMerch@gmx.at">Marketing.NeroMerch@gmx.at</a>
</address>